<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/globalstyle.css')}}" >
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Cadastro de Aluno</title>
    </head>
    <body>
        <div class="jumbotron">
            <header>
            <h1>Alunos Cadastrados</h1>
            <a href="/add"> <img class="addimg fade1" src="{{ url_for('static', filename='images/add.png')}}"> </a>
            </header>
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>RA do Aluno</th>
                        <th>Nome Aluno</th>
                        <th>Email do Aluno</th>
                        <th>Logradouro</th>
                        <th>Numero</th>
                        <th>CEP</th>
                        <th>Complemento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alunos %}
                    <tr>
                        <td>{{a.ra}}</td>
                        <td>{{a.nomeAluno}}</td>
                        <td>{{a.emailAluno}}</td>
                        <td>{{a.logradouro}}</td>
                        <td>{{a.numero}}</td>
                        <td>{{a.cep}}</td>
                        <td>{{a.complemento}}</td>

                        <td>
                            <a href="/edit/{{a.id}}"><img class="img fade1" src="{{ url_for('static', filename='images/edit.png')}}"></a>
                            <a href="/delete/{{a.id}}"><img class="img fade1" src="{{ url_for('static', filename='images/trash-can.png')}}"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>